.navNote__image{
  height: 4rem;
  margin-top: 10px;
  width: 3rem;
  z-index:1;
}
.navNote__button{
  background-color: transparent;
  border: 0px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px; 
  display: relative;
  box-shadow: none;
}

.button__demo{
  background-color: transparent;
  border: 2px solid gray;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 5px;
  margin-bottom: 10px; 
  display: relative;
  box-shadow: none;
  outline: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  border-radius: 0;
  padding: 2rem;
}
.button__demo:hover {
  background-color: lightblue;
}
input[type="radio"], input[type="checkbox"] {
    margin: 10px 10px 10px 15px;
    padding: 5px 30px 5px 5px;
}
.button__demo--small{
  background-color: transparent;
  border: 1px solid gray;
  margin: 0px;
  display: relative;
  box-shadow: none;
  outline: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 20.4px;
  border-radius: 0;
  padding: 1rem;
}
.button__demo--small:hover {
  background-color: lightblue;
}
.demo{
    transition-property: width;
    transition-duration: 10s;
    transition-timing-function: linear;
    transition-delay: 1s;
}
.col__inline{
    display: flex;
    justify-content: center;
}
.alingn--end{
    text-align: end;
}
.col--margin{
  margin-top:5rem; 
}