.thumbnail {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}
.note__button {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 4px;
}
.note__image {
  width: 2.7rem;
  height: 2.7rem;
  padding: 0;
}
.p--shorter {
  height:8.4rem;
  line-height:20px;
  overflow:hidden;
  word-wrap: break-word;
  word-break:break-all;
  overflow-wrap:hyphenate;
}
.title--shorter{
  height:2.9rem;
  overflow:hidden;
  word-wrap: break-word;
  word-break:break-all;
  overflow-wrap:hyphenate;
}