//MENU DE NOTEBOOKS
.sectionFile{
  background-color:#C9C9C9;
  top: 0vh;
  left: -1500%;
  width: 25%;
  height: 100vh;
  position: absolute;
  z-index: 2;
  border: 1px;
  -webkit-transition: ease 2s;
  transition: ease 2s;
  text-align: center;
  border: 1px solid #C9C9C9;
  padding-bottom: 0.5rem;
  text-align: center;
}
.sectionFile--show{
  left: 8.3%;
}
.sectionFile__image{
  width: 2rem;
  height: 3rem;
  margin: 0rem 1rem 0rem 0rem;
}
.sectionFile__button{
  background-color: transparent;
  border: 0px;
}
.sectionFile__button--margin{
  margin: 20px;
}
.notebooksList{
  list-style-type: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.sectionFiles__input{
  width: 100%;
  margin: 1rem 1rem 0 1rem;
}
.sectionFile__list{
  color: black;
  //background-color: #66a5ca;
  border-color: transparent;
  margin: 0px;
  text-align: left;
}
.sectionFile__li{
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

@media only screen and (max-width: 400px) {
.sectionFile--show{
    top: 11vh;
    width: 100%;
    left:0;
  }
  .sectionFile__image{
    height: 5rem;
    margin: 0rem 1.2rem 0rem 0rem;
    width: 3rem;
  }
}

@media only screen and (min-width: 401px) and (max-width: 991px) {
.sectionFile{
    top: 14vh;
    width: 83.4%;
   }
  .sectionFile__image{
    height: 5.5rem;
    margin: 0rem 1.5rem 0rem 0rem;
    width: 3.5rem;
  }
}

