//-TEXT AREA
.textArea{
  background-color:#fff;
  border-left: 1px solid #288bc9;
  border-right: 1px solid #288bc9;
  border-bottom: 1px solid #288bc9;
  font-weight: 100%
}
.textArea__input{
  border: none;
  width: 100%;
}